/* contacto */

.contacto {
    background-size: 100vw 100vh;
    font-family: monospace;

    form {
        width: 80%;
        margin: auto;
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .tituloForm {
        color: white;
        text-align: center;
        margin: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }

    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    .boton {
        background: #31384a;
        color: #fff;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 480px) {
    form {
        width: 100%;
    }
}