/* main */

main {
    grid-area: main;
    background-color: bisque;
    height: 100vh;

    .contenedor-main {
        @include mixinTexto;
    }

    .titulo-nosotros {
        font-family: 'Times New Roman', Times, serif;
        padding: 1.15rem;
        @include mixinTexto;

        &::first-letter {
            color: $color-principal;
            font-size: 3rem;
        }
    }
}